# Data path settings
DATA_PATH_PREPROCESSING=data/Telco-Customer-Churn.csv
DATA_PATH_TRAINING=/path/to/training/data
DATA_PATH_SCORING=/path/to/scoring/data
DATA_PATH_POSTPROCESSING=/path/to/postprocessing/data
DATA_PATH_PRODUCTION=/path/to/production/data
DATA_PATH_MONITORING=/path/to/monitoring/data

# MLflow settings
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
