[settings]
known_third_party = submodule, ai_platform_tools,azure,azureml,data_processing,dotenv,numpy,pandas,pipelines,plotly,

# Comment: ai_platform_tools,azure,azureml,data_processing,dotenv,numpy,pandas,pipelines,plotly,streamlit,thefuzz,tiktoken,utils